run/assets/
run/crash-reports/
run/logs/
run/resourcepacks/
run/saves/
run/screenshots/
run/shaderpacks/
run/Tritium/
run/options.txt
run/optionsof.txt
run/optionsshaders.txt
run/servers.dat
run/usercache.json

target/
.settings/
.git/
.DS_Store
.idea/
out/

